.calendar-container {
   width: 95vw;
   align: center;
   color: #555555;
}
.month { 
   display: flex;
   flex-direction: column;
   width: 100%;

}

.week {
   display: flex;
}

.day {
   padding: 0.25rem;
   flex-basis: 0;
   flex-grow: 1;
   height: 7rem;
   border: 1px solid white;
}

.day:not(.empty) {
   background-color: pink;
}

.day.empty {
}

.month-header {
   text-align: center;

}

.month-header > h2 {
  font-size: 5.5rem; 
  margin-bottom: 0.5rem;
}

.weekday-header-container {
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.weekday-header {
   flex-basis: 0;
   flex-grow: 1;
}

.weekday-header > h3 {
   text-align: center;
}
