.month {
   display: flex;
   flex-direction: column;
   width: 100vw;

}

.week {
   display: flex;
   background-color: pink;
}

.day {
   padding: 1rem;
   flex-basis: 0;
   flex-grow: 1;
   border: 1px solid black;
}

.day.empty {
   background-color: lightgrey;
}

.header {
   
}
