.calendar-container {
   width: 95vw;
   align: center;
   color: black;
}
.month { 
   display: flex;
   flex-direction: column;
   width: 100%;

}

.week {
   display: flex;
}

.day {
   padding: 0.25rem;
   flex-basis: 0;
   flex-grow: 1;
   height: 7rem;
   border: 1px solid white;
   font-size: 0.75rem;
}

.day:not(.empty) {
   background-color: pink;
}

.day.empty {
}

.month-header {
   text-align: center;

}

.month-header > h2 {
  font-size: 5.5rem; 
  margin-bottom: 0.5rem;
}

.weekday-header-container {
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.weekday-header {
   text-align: center;
   flex-basis: 0;
   flex-grow: 1;
}

.day-number {
   font-size: 1.0rem;
   font-style: underline;
}

.event-time {
   font-size: 0.9rem;
   font-style: bold;
}

.event-description {
   font-size: 0.8rem;
}
